.container {
  padding: 0 2rem;
}

.container h1 {
  text-align: center;
}

.container h2 {
  text-align: center;
  margin: 10px;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
  text-align: center;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.description {
  margin: 4rem 0;
  margin-left: 1rem;
}

.description p{
  margin-bottom: 1.25rem;
  font-size: 1.10rem;
}

.card {
  margin: 1rem;
  padding: 0.5rem;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
  max-width: 400px;
}

.card div{
  margin: 1.75rem;
}

.card:hover {
  color: #d41941;
  border-color: #d41941;
}

.card h2 {
  margin: 0 0 1rem 0;
  font-size: 2rem;
}

.card p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
}

.image{
    text-align: center;
}