html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.game {
  width: 200px;
  margin: 20px;
  position: relative;
  overflow: hidden;
}

.game img {
  max-width: 100%;
  border-radius: 4px;
}

.game-search-results-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.movie {
  width: 200px;
  margin: 20px;
  position: relative;
  overflow: hidden;
}

.movie img {
  max-width: 100%;
  border-radius: 4px;
}

.movie-search-results-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.form-box {
    width: 100%;
    margin: 0 auto;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
  }
  
  .btn-search {
    background: #d41941;
    height: 39px;
  }




